<footer class="container__footer footer__productos">
    <div class="container__redes-sociales">
        <h2 class="redes__title">Siguenos en nuestras redes sociales</h2>
        <a href="https://www.facebook.com/profile.php?id=100090895850515&mibextid=ZbWKwL" class="icon__link"><i class="fa-brands fa-facebook-f"></i></a>
        <a href="https://api.whatsapp.com/send/?phone=573142878353&text&type=phone_number&app_absent=0" class="icon__link"><i class="fa-brands fa-whatsapp"></i></a>
    </div>
    <div class="container__copy">
        <p class="copy">Muebles Sogamoso. Todos los derechos reservados © 2022</p>
    </div>
</footer>
<script src="./js/menu.js"></script>
<script src="./js/slider.js"></script>

</body>
</html>