<%- include("./template/cabecera.ejs") %>
<link rel="stylesheet" href="./css/contacto.css">

<main class="main">
    <div class="container__informacionContacto">
        
        <div class="container__mapa">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3969.932502634863!2d-72.93954662411674!3d5.722862931947387!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8e6a467866c0453b%3A0xd1d6dff3194f261!2sCra.%2024%20%2312-17%2C%20Sogamoso%2C%20Boyac%C3%A1!5e0!3m2!1ses!2sco!4v1691461493693!5m2!1ses!2sco"
            class="mapa__img"  style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>
        <div class="informacion__contacto">
            <h1 class="title__informacion">Contacto</h1>  
            <h3 class="subtitulo__informacion">Dirección</h3>
            <p class="informacion__txt">Cra.25 #12-20</p>
            <p class="informacion__txt">Sogamoso, Boyacá</p>
            <p class="informacion__txt">Horario: 8:00 - 18:00</p>
            <!-- <h3 class="subtitulo__informacion">Email</h3>
            <p class="informacion__txt">mueblesSogamoso@gl.com</p> -->
            <h3 class="subtitulo__informacion">Teléfono</h3>
            <p class="informacion__txt">+57 314 287 8353</p>
        </div>
    </div>
    <br><br><br>
    
</main>

<%- include("./template/pie.ejs") %>
